/* Custom properties/variables  */
:root {
    --main-white: #ffffff;
    --main-orange: #ffffff;
    --main-red: #ff0000;
    --main-blue: #070606;
    --main-gray: #000000;
    --main-black:#f7f6f4;
  }
  
  /* Base reset */
  * {
    margin: 0;
    padding: 0;
  }
  
  /* box-sizing and font sizing */
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
  
    /* Set font size for easy rem calculations
     * default document font size = 16px, 1rem = 16px, 100% = 16px
     * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
    */
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  /* A few media query to set some font sizes at different screen sizes.
   * This helps automate a bit of responsiveness.
   * The trick is to use the rem unit for size values, margin and padding.
   * Because rem is relative to the document font size
   * when we scale up or down the font size on the document
   * it will affect all properties using rem units for the values.
  */
  
  /* I am using the em unit for breakpoints
   * The calculation is the following
   * screen size divided by browser base font size
   * As an example: a breakpoint at 980px
   * 980px / 16px = 61.25em
  */
  
  /* 1200px / 16px = 75em */
  @media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
  }
  
  /* 460px / 16px = 28.75em */
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
  }
  
  /* Base styles */
  
  body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem; /* 18px */
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
  }
  
  h1,
  h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 1000;
    text-align: center;
  }
  
  h1 {
    font-size: 5rem;
  }
  
  h2 {
    font-size: 3.5rem;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: var(--main-black);
  }
  
  img {
    display: -moz-stack;
    width: 100%;
  }
  
  /* nav */
  .nav-pro{
    align-self:left;
    font-size: 2.2rem;
    margin: 0 1rem;
    justify-content: left;
    align-items: center;
    position: left;
    display: flex;
    top: 0;
    left: 5;
    width: 100%;
    margin-right: 2rem;
    }


  .nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--main-red);
    box-shadow: 0 0 10px rgb(243, 243, 243);
    opacity: 10;
    z-index: 10;

    }

  .nav-list {
    display: flex;
    margin-right: 2rem;
    text-decoration: none;
    background:  rgb(252, 0, 0);
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 10;
    animation: slideTOP .5s ease forwards;
    animation-delay: calc(.2s *var(--i)); 
    
  }
  
  @media (max-width: 28.75em) {
    .nav {
      justify-content: center;
    }
  
    .nav-list {
      margin: 0 1rem;
    }
  }
  
  .nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
  }
  
  .nav-list a:hover {
    background: var(--main-blue);
  }
  
  /* Welcome section */
  .welcome-section 
  .round-image { 
    height: 200px; 
    width: 201px; 
    align-items: center; 
    display: flex; 
    border-radius: 50%;
    opacity: 10;
    animation: zoomIn 1s ease forwards,floatImage 4s ease-in-out infinite;
    animation-delay: 0s ;
  }
  user agent stylesheet
  img {
      overflow-clip-margin:initial;
      overflow: clip;
  }
  @keyframes floatImage {
    0%{
        transform: translateY(0);
    }
    50% {
        transform: translateY(-24px);
    }
    100% {
        transform: translateY(0);
    }
  }
  .btn {
    display: inline-block;
    padding: 12px 28px;
    background:  rgb(247, 0, 0);
    box-shadow: 0 0 10px rgb(251, 0, 0);
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 10;
    animation: slideRight 1s ease forwards;
    animation-delay: 2s;
}
  
  .welcome-section {
    align-items: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 90vh;
  }
    body,html{
      width: 100%;
      height: 100%;
    }
  body{
      margin: 5;
      padding: 0;
      background: rgb(22, 22, 22);
  }
    .wrapper{
      position: absolute;
      width: 100%;
      height: 10%;
      z-index: 3;
      overflow: hidden;
      top: 3;
      left: 0;
    }
    .box{
      position: absolute;
      background: #f2f2f2;
      opacity: .6;
      animation: animate 15s infinite ease;
    }
    .box:nth-child(1){
      width: 75px;
      height: 75px;
      left: 7%;
      animation-delay: 1s;
    }

    .box:nth-child(2){
      width: 80px;
      height: 80px;
      left: 20%;
      animation-delay: 5s;
    }
    .box:nth-child(3){
      width: 62px;
      height: 62px;
      left: 40%;
      animation-delay: 9s;
    }
    .box:nth-child(4){
      width: 80px;
      height: 80px;
      left: 50%;
      animation-delay: 5s;
    }
    .box:nth-child(5){
      width: 60px;
      height: 60px;
      left: 27%;
      animation-delay: 10s;
    }
    .box:nth-child(6){
      width: 55px;
      height: 55px;
      left: 65%;
      animation-delay: 5s;
    }
    .box:nth-child(7){
      width: 70px;
      height: 70px;
      left: 80%;
      animation-delay: 9s;
    }
    .box:nth-child(8){
      width: 90px;
      height: 90px;
      left: 75%;
      animation-delay: 3s;
    }
  
  .welcome-section > p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: var(--main-orange);
  }
  
  /* Projects section */
  
  .projects-section {
    text-align: center;
    padding: 0.7rem 2rem;
    background: var(--main-blue);
    border-top: 4px solid var(--main-orange);
  }
  
  .projects-section-header {
    max-width: 540px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--main-blue);
  }
  
  @media (max-width: 28.75em) {
    .projects-section-header {
      font-size: 4rem;
    }
  }
  
  /* "Automagic" image grid using no media queries */
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }
  
  @media (max-width: 30.625em) {
    .projects-section {
      padding: 6rem 1rem;
    }
  
    .projects-grid {
      grid-template-columns: 0.5fr;
    }
  }
  
  .project {
    background: var(--main-gray);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
  }
  
  .code {
    color: var(--main-gray);
    transition: color 0.3s ease-out;
  }
  
  .project:hover .code {
    color: #ffffff;
  }
  
  .project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
  }
  
  .project-title {
    font-size: 1.7rem;
    padding: 2rem 0.7 rem;
  }
  
  .btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
  }
  
  .btn-show-all {
    font-size: 2rem;
    background: var(--main-black);
    transition: background 0.3s ease-out;
  }
  
  .btn-show-all:hover {
    background: var(--main-red);
  }
  
  .btn-show-all:hover > i {
    transform: translateX(2px);
  }
  
  .btn-show-all > i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
  }
  
  /* Contact section */
  
  .contact-section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0.2rem;
    background: var(--main-blue);
    border-top: 4px solid var(--main-orange);
  }
  
  .contact-section-header > h2 {
    font-size: 6rem;
  }
  
  @media (max-width: 28.75em) {
    .contact-section-header > h2 {
      font-size: 4rem;
    }
  }
  
  .contact-section-header > p {
    font-style: italic;
  }
  
  .contact-links {
    display: flex;
    justify-content: center;
    width: 70%;
    max-width: 1000px;
    margin-top: 4rem;
    flex-wrap: wrap;
  }
  
  .contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #ff8206;
    transition: transform 0.3s ease-in-out;
  }
  
  .contact-details:hover {
    transform: translateY(1px);
  }
  
  /* Footer */
  
  footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: var(--main-red);
    border-top: 4px solid var(--main-orange);
  }
  
  footer > p {
    margin: 0rem;
  }
  
  footer i {
    vertical-align: middle;
  }
  
  @media (max-width: 20.75em) {
    footer {
      flex-direction: column;
      text-align:left;
    }
  }
  
  